<div class="jumbotron">
<h1><img src="http://placehold.it/50x50" class="img-circle">
Declan Proud</h1>
</div>

<div class="form-horizontal">

<div class="row">
	<div class="col-sm-6">

		<div class="form-group">
		<label for="name" class="col-sm-4 control-label">Name</label>
		<div class="col-sm-8">
		<p class="form-control-static">Declan Proud</p>
		</div>
		</div>	

		<div class="form-group">
		<label for="phone" class="col-sm-4 control-label">Phone Number</label>
		<div class="col-sm-8">
		<p class="form-control-static">123 456789</p>
		</div>
		</div>

		<div class="form-group">
		<label for="address" class="col-sm-4 control-label">Address</label>
		<div class="col-sm-8">
		<p class="form-control-static">#0234 Santolan Bridge almost over you avenue, South of Bridge</p>
		</div>
		</div>

	</div>

	<div class="col-sm-6">

		<div class="form-group">
		
		<label for="email" class="col-sm-4 control-label">Email</label>
		<div class="col-sm-8">
		<p class="form-control-static">sample@yahoo.com</p>
		</div>
		</div>

		<div class="form-group">
		<label for="phone" class="col-sm-4 control-label">Website</label>
		<div class="col-sm-8">
		<p class="form-control-static">http://www.somewhereInTheWeb.com</p>
		</div>
		</div>

		<label for="address" class="col-sm-4 control-label">Notes</label>
		<div class="col-sm-8">
		<p class="form-control-static">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nisl odio, suscipit quis dui a, tempor hendrerit neque. Duis mollis dui vehicula risus efficitur vestibulum. Nam eu maximus lorem. In non ligula at urna suscipit congue. Nullam eu efficitur odio. Sed non maximus dui. Suspendisse eleifend, lorem lobortis elementum vulputate</p>
		</div>
		</div>

	</div>

</div>
</div>
